<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get_latest_news</title>
     <link rel="stylesheet" href="/static/main.css">
</head>
<body>

<div align="center" >
    <h2 style="color:black", align="center">Выберите источник</h2>
<form action="/process_sources", method="post">
    <select name="list_of_sources">
    <option value="lenta_ru">lenta.ru</option>
    <option value="news_ru">news.ru</option>
    <option value="rambler">rambler.ru</option>
    <option value="all">все источники</option>
</select>
    <input type="submit" value="Новости" />
</form>
</div>
</body>
</html>