<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Последние новости</title>
</head>
<body>
    {% for key in sources.keys() %}
        <h2>{{ key }}</h2>
        <p>
            {% for news in sources[key] %}
            {{ news }}
            <br>
            {% endfor %}
        </p>
    {% endfor %}
</body>
</html>